body, html {margin: 0 !important;overflow-x:hidden;background: #505050;}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

::-webkit-scrollbar {width: 5px;height:1px;}

::-webkit-scrollbar-thumb:hover {background-color: #404040 !important;}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #333333 !important;
}

::-webkit-scrollbar-track-piece {
	border: 0px !important;
	background-color: transparent !important;
}
#menu {
    height: 3.4em;
    width: 100%;
    background: url('https://nirewen.github.com/Noitosfera/img/checkerboard-menu.png');
    background-size: 51px;
    animation: slide 40s linear infinite;
    height: 100%;
}

@keyframes slide {
	0% {background-position: right;}
	50% {background-position: center;}
	100% {background-position: left;}
}

#container {text-align: center;}
.item-wrapper {margin-right: 15%;}

.item:before, .logo:before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

#mainpage {
	margin: 1% 6% 0 6%;
}

#wrapper {
	width: 100%;
	height: 100%;
}

.banner {
	margin: 0.25%;
	box-shadow: 0 0 10px rgba(0,0,0,.8);
	transition: transform 250ms cubic-bezier(.39,.37,.01,1.38);
}

.banner:hover {transform: scale(1.04);box-shadow: 0 0 10px rgba(255,255,255,.5);}
.banner:active {transform: scale(1.01)}

.logo {
	height: 2.7em;
	float:left;
	margin-left: 12%;
	transition: all 200ms cubic-bezier(.39,.37,.01,1.38);
}

.logo:hover {
    transform: scale(1.15);
}
.item {
	width: 7em;
	height: 3.4em;
	box-shadow: 2px 0px 10px rgba(0,0,0,.3);
	transition: width 200ms cubic-bezier(.39,.37,.01,1.38);
	text-align: center;
	display:inline-block;
}
.item:not(.active):hover {width: 9em !important;}
.item:not(.active):hover, .logo:hover {cursor: pointer;}

.icone {
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	transition: all 200ms cubic-bezier(.39,.37,.01,1.38);
	transform: scale(0.9);
}

.principal {
	float: left;
	width: 74.5%;
	height: auto;
	border-radius: 3px;
}

.wide {
	float: left;
	width: 24.5%;
	height: auto;
	border-radius: 3px;
}

.pequeno {
	float: left;
	width: 12%;
	height: auto;
	border-radius: 3px;
}
.parceiros {
	width: 100%;
	margin-top: 1%;
}
.banner.parceiro {
	width: 49.5%;
	border-radius: 3px;
}

.season-scrollable {
	overflow-x: scroll !important;
	white-space: nowrap !important;
}
.series-scrollable {
	overflow-x: scroll !important;
	white-space: nowrap !important;
}

.episodio.seis {
	width: 32%;
	margin: 0.5%;
	display: inline-block;
}
.episodio.quatro {
	width: 48%;
	margin: 0.5%;
	display: inline-block;
}
.episodio .banner:hover {
	cursor: pointer;
}

.episodio .banner {
	width: 100%;
}

.main-wrapper {
	display: block;
	margin: 3% 6% 0 6%;
}

#cartoon-network, #cartoon-hangover, #adult-swim, #extras, #outros {
	display: none;
}

.parceiro-label {
	width: 100%;
	box-shadow: 0 0px 3px rgba(0,0,0,.8);
	background: #545454;
}

.series-handler {
	overflow: hidden;
	white-space: nowrap;
}

.series-handler .serie {
	box-shadow: 0 0px 3px rgba(0,0,0,.8);
	display: inline-block;
	width: 6em;
	height: 6em;
	border-radius: 10px;
	margin: 4px;
}

.series-handler .serie.active {
	box-shadow: 0 0px 3px rgba(255,255,255,.8) !important;
}

.series-handler .serie:hover {
	cursor: pointer;
}

.not-found {
	width: 50%;
	margin-top: -1%;
}

ul.aba {
	height: 4.5em !important;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #171717;
	border-radius: 3px;
	display: none;
	overflow: hidden;
	transform: scale(0.9);
}

ul.aba li {display: inline-block;}
ul.aba li a {
	height: 3em !important;
	display: inline-block;
	transition: 0.3s;
}

ul.aba li a:hover {
	background-color: #242424;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

ul.aba li a:focus, ul.aba li a.active {
	background-color: #222222;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.aba-conteudo {
	margin-top: 1%;
		display: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.modal-thing {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.modal-conteudo {
	z-index: 1002;
	background-color: #222222;
	margin: 15% auto;
	width: 85%;
	max-height: calc(100vh - 4%);
	overflow-y: auto;
	border-radius: 3px !important;
}

.watch-ep {
	width: auto;
}

.fechar-modal {
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	line-height: 35px;
	position: fixed;
	display: none;
}

.close-span:before {
    content: 'Esc ou ✕';
	font-size: 18px;
}
.close-span {
    position: absolute;
    top: 0;
    right: 4px;
    cursor: pointer;
}

.sinopse {
	position: relative;
	z-index: 1005;
	padding: 2.5% 2.5% 0 2.5%;
}

.modal-conteudo.white-text .sinopse h6, .modal-conteudo.white-text .sinopse h2, .modal-conteudo.white-text .sinopse h5, .modal-conteudo.white-text .sinopse p {
	text-shadow: 0 0 7px #000;
	margin: 0 !important;
}

.modal-conteudo.black-text .sinopse h6, .modal-conteudo.black-text .sinopse h2, .modal-conteudo.black-text .sinopse h5, .modal-conteudo.black-text .sinopse p {
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin: 0 !important;
}

.hamburger.icone {
	display: none;
}

@media screen and (max-width:960px) {
	.principal {
		float: left;
		width: 100%;
		height: auto;
	}
	.wide {
		float: left;
		width: 100%;
		height: auto;
	}

	.pequeno {
		float: left;
		width: 24.5%;
		height: auto;
	}
	.item {width: 100%;display: none;}
	.item:not(.active):hover {width: 100% !important;}
	.logo {margin-left: 2%;}
	.hamburger.icone {
		float: left;
		margin-left: 12%;
		display: inline-block;
		font-size: 18px;
		cursor: pointer;
	}
	.series-handler .serie {
		width: 4em;
		height: 4em;
	}
	.episodio.quatro, .episodio.seis {
		width: 100%;
	}
	.fechar-modal {
		z-index: 1005;
		display: block;
	}
	.close-span {display: none;}
	.modal-conteudo {
		width: 90%
	}
	.wide.episodios {
		display: none;
		position: fixed;
		top: 3.4em;
		width: 93.2%;
		overflow: scroll;
		max-height: 90vh;
	}
	.watch-ep {
		width: 100%
	}
	.main-wrapper {
		margin: 3% -3%;
	}
   @keyframes aaa {
    0%{
        background-position: left;
   }
    50%{
        background-position: center;
    }
    100% {
        background-position: right;
    }
  }
#menu {
    width:100%;
    background: url(/img/checkerboard-menu.png);
    box-shadow: 2px 0px 10px rgba(0,0,0,.3);
    height: 100%;
    background-size: 51px;
    animation: aaa 40s linear infinite;
}